@charset "utf-8";
/* CSS Document */

#introduction{	
	width: 90%;
	height:400px;
	margin:10px 10px;
	border-radius:10px;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}
img{
	width:150px;
	height:150px;
}
#source{
	width: 90%;
	height:400px;
	 margin:10px 10px;
	border-radius:10px;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
	
}