*{
    text-decoration: none;
    list-style: none;
    margin:0;
    padding:0;
    color: #222226;
    font-size:17px;
}
.navigator{
    float: left;
    width: 200px;
    margin-left: 50px;
    background-color: #fff;
    height: 800px;
}
.question-display{
    float: left;
    width: 900px;
    margin-top: 50px;
    margin-left: 300px;
    background-color: #fff;
    border:1px solid #c3c3c3;
}
.guide-bar{
    display:flex;
    border-bottom: 1px solid#ccccd8;
}
.guide-item{
    cursor: pointer;
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.q-item{
        width: 100%;
        height: 105px;
        border-bottom: 1px solid#ccccd8;
}
.q-item-l{
    float: left;
    width: 20%;
    height: 100%;
}
.q-item-l-box{
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
.q-item-r{
    float:right;
    width: 80%;
    height: 100%;
}
.q-item-title,
.q-item-content,
.q-item-bottom{
    margin-top: 8px;
}
.q-item-title{
    font-weight: bold;
}

.tag{
    float: left;
}
.user,
.create-time{
    float: right;
    margin-right: 10px;
}
.tag-each{
    background-color: #ebf2f7;
    color:#69aedf;
    margin:7px;
   display: inline-block;
    cursor: pointer;
}
.item-each{
    cursor:pointer;
}
