*{
    text-decoration: none;
    list-style: none;
    margin:0;
    padding:0;
    color: #222226;
}
.toolbar{
    font-size: 17px;
    font-weight:400;
    color: #222226;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
}
.toolbar-inside{
    box-sizing: content-box;
}
.toolbar-content{
    width:95%;
    min-width: 1280px;
    height: 48px;
    display: flex;
    margin:0 auto;
    line-height: 48px;
    justify-content:space-between;
    -webkit-box-pack: justify;
    padding:0 24px;
    color: #222226;
}
.toolbar-content-left{
    display: flex;
    justify-content:space-between;
}
#search-box{
    width: 300px;
    height: 30px;
}
.search-btn{
    display: inline-block;
    width: 80px;
    height: 35px;
    border-radius: 35px;
    line-height: 35px;
    color:#fff;
    text-align: center;
    margin-top: 10px;
    background-color:rgb(78,146,243);
}
.logo-box img{
    width: 40px;
    height: 45px;
}
.toolbar-Menu-l>li{
 display: inline-block;
 margin:0 10px;
	padding:0 5px;
}
.toolbar-r-items{
    display: inline-block;
    margin:0 10px;
    height: 48px;
   }
.toolbar-Menu-l>li:hover{
    background-color: #e8e8ed;
   }
#login-reg,
#notice,
#create{
    position: relative;
}
.login-reg-menu,
.news-menue,
.create-menue{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .06);
    z-index: 9999999;
    border:1px solid #c3c3c3;
}
.login-reg-menu{
    width: 100px;
    position: absolute;

    /* 这里为什么不是left:3px; */
  
}
.news-menue{
    position:absolute;
    width: 70px;
}
.news-menue>a,
.login-reg-menu>a{
 display: block;
text-align: center;
margin-top: 8px;
}
#person{
    display: block;
    text-align: center;
    margin-top: 8px;
    cursor: pointer;
}
.login-reg-menu>#first-a{
    margin-top: 25px;
}
.create-menue{
    position:absolute;
    width: 130px;
    left: -50px;
}
.create-menue a{
    display: block;
    text-align: center;
}
.create-menue a:nth-child(1){
    background: url("../icon/编辑文章.png") no-repeat left center;
}
.create-menue a:nth-child(2){
    background: url("../icon/提问题.png") no-repeat left center;
}
.create-menue a:nth-child(3){
    background: url("../icon/上传资源.png") no-repeat left center;
}
.head-pic{
    border-radius: 50%;
    background-color: #fff;
    width: 32px;
    height: 32px;
}
.login-reg-btn{
    cursor: pointer;
}
